:root {
  --primery-text-color: #2e2f42;
  --secondary-text-color: #434455;
  --logo-background-color: #4d5ae5;
  --text-bgc-white-color: #ffffff;
  --primery-accent-color: #f4f4fd;
  --secondary-accent-color: #404bbf;
}
body {
  background-color: var(--text-bgc-white-color);

  color: var(--primery-text-color);

  font-family: Roboto, sans-serif;
  letter-spacing: 0.02em;
}
/* Logo */
.logo {
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-style: normal;
}
.logo-header {
  color: var(--logo-background-color);
  text-decoration: none;
  letter-spacing: 0.03em;
}
.logo:hover,
.logo:focus {
  color: var(--secondary-accent-color);
}
.span-header {
  color: var(--primery-text-color);
}
.logo-footer {
  font-family: 'Raleway';
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: #4d5ae5;
}
.span-footer {
  color: var(--primery-accent-color);
}

/* List and link */
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.addres {
  font-style: normal;
}

.addres-link:hover,
.addres-link:focus {
  background-color: var(--secondary-accent-color);
  color: var(--text-bgc-white-color);
}
.button-order {
  background-color: var(--logo-background-color);
  color: var(--text-bgc-white-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.04em;
  cursor: pointer;
}
.button-order:hover,
.button-order:focus {
  background-color: var(--secondary-accent-color);
}

.button-products {
  background-color: var(--primery-accent-color);
  color: var(--logo-background-color);
  cursor: pointer;
}
.button-products:hover,
.button-products:focus {
  color: var(--text-bgc-white-color);
  background-color: var(--secondary-accent-color);
}
.button-items {
  list-style: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.04em;
}
.addres .link {
  color: var(--secondary-text-color);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  font-style: normal;
}

.site-nav .link {
  color: var(--primery-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
}
.portfolio-list {
  list-style: none;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--secondary-accent-color);
}
.hero {
  background: var(--primery-text-color);
  text-align: center;
  letter-spacing: 0.02em;
}
.slogan {
  color: var(--text-bgc-white-color);
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
}
.hidden {
  visibility: hidden;
}
.section-text {
  color: var(--secondary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.section-exems {
  background-color: var(--text-bgc-white-color);
}
.sction-employees {
  background-color: var(--primery-accent-color);
}
.team-foto {
  background-color: var(--text-bgc-white-color);
}
.h-two {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  text-align: center;
  letter-spacing: 0.02em;
}
.h-three {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.footer {
  background-color: var(--primery-text-color);
}

.text-footer {
  color: var(--primery-accent-color);
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  text-transform: uppercase;
  text-decoration: none;
}
